<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Forgot Password?</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPwd">
        <div fxFlex fxLayout="column">
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPwd.controls.email.touched && forgotPwd.controls.email.invalid">
                    <span *ngIf="forgotPwd.controls.email.touched">This field is mandatory .</span>
                    <span *ngIf="forgotPwd.controls.email.pattern">This field is invalid. </span>
                </mat-error>
            </mat-form-field>
            

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
<button mat-raised-button color="primary" [disabled]="!(forgotPwd.valid && forgotPwd.dirty)"
type="submit" (click)="handleSubmit()">Send Password</button>
<button mat-raised-button color="primary" mat-dialog-close> Close</button>
</mat-dialog-actions>